body{
  margin: 0;
  padding: 0;
}
.logo{
  color:#167bf1;
  font-family: "Open Sans", sans-serif;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
.container{
  display: block;
  justify-content: center;
  text-align: center;
}
.container input[type="email"] , input[type="password"]{
  width: 30%;
  padding: 14px;
  border: none;
  background: #eee; 
  border-radius: 3px; 
}
input[type="email"]:focus{
  border: 1px solid grey;
  outline: none;
}
 input[type="password"]:focus{
  border: 1px solid grey;
  outline: none;
}
.login{
  width: 32%;
  padding: 9px;
  background-color:#167bf1 ;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}
.login:hover{
  background-color: grey;
  color: black;
  transition: 1s;
}
.forgot, a{
  text-align: center;
  text-decoration: none;
  color: #167bf1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
p a:hover{
  text-decoration: underline;
}
.bar{
  text-align: center;
  display: flex;
  justify-content: center;
}
.bar1{
  border-bottom: 1px solid grey;
  width: 14%;
  height: 9px;
  margin:0 15px 0px 15px
}
.create input[type="button"]{
  text-align: center;
  width: 25%;
  padding: 10px;
  margin: 20px 37%;
  font-weight:bold ;
  border-radius: 3px;
  border:1px solid rgb(137, 136, 136);
}
.create input[type="button"]:hover{
  background-color:green ;
  color: white;
  transition: 1s;
}
.lang{
   overflow: hidden;
   clear: both;
   padding: 30px 0 10px 0;
   color: #154c79;
}
.lang1{
  /* margin:20px 450px; */
  padding:20px ;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  float: left;
  margin-left: 380px;
}
.lang2{
  padding: 20px;
  margin-right: 380px; 
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 5px;
}
.lang2 button{
  border-radius: 2px;
  border: 1px solid grey;
  font-size: 20px;
  font-weight: light;
}
.footer{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}


/* for tablet */
@media screen and (min-width:500px){
  
}

/*  for mobile */
@media screen and (max-width:500px){
  .body{
    background-color: blue;
  }
  .container{
    display: flex;
  }
    .container input[type="email"] , input[type="password"]{
      width: 100%;
    }
}























